img {
	border: 0px;
}
p.indent2 {
	text-indent: 2em
}
.mtdropdownmenu {
	left: -1000px; overflow: hidden; position: absolute; top: -1000px
}
.mtdropdownmenu .content {
	position: absolute
}
.mtdropdownmenu .items {
	border-right: #fff 1px solid; border-top: #fff 1px solid; z-index: 2; left: 0px; border-left: #fff 1px solid; border-bottom: #fff 1px solid; position: relative; top: 0px
}
.mtdropdownmenu .item {
	border-right: medium none; border-top: medium none; font-size: 12px; border-left: medium none; cursor: hand; color: #333333; border-bottom: medium none; font-family: "arial", "verdana", "helvetica", "sans-serif"; text-decoration: none
}
.mtdropdownmenu .background {
	z-index: 1; left: 0px; position: absolute; top: 0px; moz-opacity: .8
}
.mtdropdownmenu .shadowright {
	z-index: 3; filter: alpha(opacity=40); width: 2px; position: absolute; top: 3px; moz-opacity: .4
}
.mtdropdownmenu .shadowbottom {
	z-index: 1; filter: alpha(opacity=40); left: 3px; position: absolute; height: 2px; moz-opacity: .4
}
.mtdropdownmenu .hover {
	background: #80bfff
}
.mtdropdownmenu .item img {
	margin-left: 10px
}
