@charset "utf-8";
/* CSS Document */

#marquee{
    position:absolute;
    left:400px;
    right:20px;
    white-space:nowrap;
    overflow:hidden;
}
#marquee ul{
    margin:0;
    padding:0;
    display:inline-block;
}
#marquee li{
    display:inline-block;
    min-width:290px;
    padding-right:15px;
    list-style:none;
}
#marquee li a{
    font-size:12px;
    color:#999
}
#marquee li a:hover{
    color:#428bca
}
.media-option .btn-group a{
    visibility:hidden
}
.media:hover .media-option .btn-group a{
    visibility:visible
}