.loading{ background:#f0f0f0;width: 660px; height:551px;  text-align:center; float:left;}
.loading .tip{border:2px solid #008FC2; background:#fff; width:220px; height:60px;  line-height:60px;
 background:url(../../images/loading_bar.gif) no-repeat 20px center #fff;  margin:0 auto; margin-top:200px; }
.storageCal{font-size:12px; cursor:Default;}
.storageCal .title{ font-weight:bold; text-align:center;color:#fff; background:#428bca;padding:10px 0px;}
.storageCal .title a{color:#fff; }
.storageCal .lastmonth{float:left;margin-left:20px;  cursor:pointer;  }
.storageCal .lastmonth a{display:inline-block; margin:2px; width:15px; height:15px;}
.storageCal .lastmonth_none{cursor:default;}
.storageCal .nextmonth{float:right;margin-right:20px;cursor:pointer;}
.storageCal .nextmonth a{display:inline-block; margin:2px; width:15px; height:15px;}
.storageCal .nextmonth_none{cursor:default;}
.storageCal .lastmonth a,.leftClay .storageCal .nextmonth a{ color:#fff}
.storageCal table{  width:100%; color:#666;border:1px solid #ddd;}
.storageCal table th{ font-weight:bold; height:24px; padding:5px;}
.storageCal table th input{    margin: 0;
    vertical-align: middle;}
.storageCal table th.weeken{color:#5cb85c}
.storageCal table td{ border:1px solid #ddd; width:100px; }
.storageCal table td.valid{}
.storageCal table td div.detail{ height:85px;background:#f9f9f9;padding:5px;}
.storageCal table td div.detail.valid{background:#fff; color:#5cb85c}
.storageCal table td div.detail.valid:hover{background:#fcf8e3}
.storageCal table td div.detail.valid span{color:#008fc2}
.storageCal table td span{ font-weight:700;font-size:14px;}
.storageCal table td div.price{height:20px;font-family:arial; 
    text-align: left;}
.storageCal table td div .ckbox label{
font-weight:700;font-size:14px;
	margin-bottom:3px!important
	}
.storageCal .title .ckbox{
	margin-left:10px;
	display:inline-block;
	text-align:left;
	}
.storageCal .title .ckbox label{
	color:#fff;
	}